.header{
    width: 100%;
    min-height: 100px;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
    &__logo{
        width: 20%;
        height: 100%;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__components{
        width: 60%;
        height: 100%;
        background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__auth-palce{
        width: 20%;
        height: 100%;
        background-color: yellow;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}