<div class="auto-gallery">
  <div class="auto-gallery__images">
    <div class="auto-gallery__images__items"
         *ngFor="let images of autoConfig;
         let i = index"

         [ngClass]="{
          'auto-gallery__images__items--selected': i === selectedIndex,
          'auto-gallery__images__items--prev': i === selectedIndex - 1,
          'auto-gallery__images__items--next': i === selectedIndex + 1,
          'auto-gallery__images__items--hide-left': i < selectedIndex - 1,
          'auto-gallery__images__items--hide-right': i >  selectedIndex + 1,

         }"
    >
      <img class="auto-gallery__images__items--img"
           ondragstart="return false"
           [src]="images.imgSrc"
           alt="*"
           (swipeleft) ="showPrev(i)"
           (swiperight)="showNext(i)"
      >

    </div>

  </div>
  <div class="auto-gallery__points"></div>
  <div class="auto-gallery__arrows">
  </div>
</div>


<section class="container"
         (swipeleft)="decrease()"
         (swiperight)="increase()">
  <h1>{{ number }}</h1>
</section>
